force-app/main/default/flows/Account_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Account_Changes</name>
        <label>Check Account Changes</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Dropbox_Folder_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dropbox_Folder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Dropbox_Folder__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Dropbox_Folder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Dropbox_File_Requests</targetReference>
            </connector>
            <label>Check if Dropbox Folder Changed</label>
        </rules>
    </decisions>
    <description>Include dropbox file request update code</description>
    <interviewLabel>Account After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Update</label>
    <loops>
        <name>Update_All_File_Requests</name>
        <label>Update All File Requests</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Dropbox_File_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Request</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Dropbox_File_Requests</name>
        <label>Get Related Dropbox File Requests</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_All_File_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dropbox_File_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Changes</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_File_Request</name>
        <label>Update File Request</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_All_File_Requests</targetReference>
        </connector>
        <flowName>Update_File_request</flowName>
        <inputAssignments>
            <name>FileRequest</name>
            <value>
                <elementReference>Update_All_File_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FolderPath</name>
            <value>
                <elementReference>$Record.Dropbox_Folder__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
