force-app/main/default/flows/Account_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Account_Changes</name>
        <label>Check Account Changes</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Dropbox_Folder_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dropbox_Folder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Dropbox_Folder__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Dropbox_Folder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Dropbox_File_Requests</targetReference>
            </connector>
            <label>Check if Dropbox Folder Changed</label>
        </rules>
        <rules>
            <name>Check_Account_Team_Changes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Admin__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MRM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Ops__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Solution_Advisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accounting_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tax_Advisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accounting_Advisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tax_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Outbound_Message</targetReference>
            </connector>
            <label>Check Account Team Changes</label>
        </rules>
    </decisions>
    <description>Include dropbox file request update code</description>
    <environments>Default</environments>
    <formulas>
        <name>EventTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.Member_Admin__c}),&quot;com_collective_member_memberadmin_updated&quot;,
		IF(ISCHANGED({!$Record.MRM__c}),&quot;com_collective_member_mrm_updated&quot;,
			IF(ISCHANGED({!$Record.Member_Ops__c}),&quot;com_collective_member_memberops_updated&quot;,
				IF(ISCHANGED({!$Record.Business_Solution_Advisor__c}),&quot;com_collective_member_busadvisor_updated&quot;,
					IF(ISCHANGED({!$Record.Accounting_Manager__c}),&quot;com_collective_member_accmanager_updated&quot;,
						IF(ISCHANGED({!$Record.Tax_Advisor__c}),&quot;com_collective_member_taxpreparer_updated&quot;,
							IF(ISCHANGED({!$Record.Accounting_Advisor__c}),&quot;com_collective_member_accadvisor_updated&quot;,
								IF(ISCHANGED({!$Record.Tax_Manager__c}),&quot;com_collective_member_taxreviewer_updated&quot;,&quot;&quot;))))))))</expression>
    </formulas>
    <interviewLabel>Account After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Update</label>
    <loops>
        <name>Update_All_File_Requests</name>
        <label>Update All File Requests</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Dropbox_File_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Request</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Outbound_Message</name>
        <label>Create Outbound Message</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Task_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>EventTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Message__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Dropbox_File_Requests</name>
        <label>Get Related Dropbox File Requests</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_All_File_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dropbox_File_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Changes</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_File_Request</name>
        <label>Update File Request</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_All_File_Requests</targetReference>
        </connector>
        <flowName>Update_File_request</flowName>
        <inputAssignments>
            <name>FileRequest</name>
            <value>
                <elementReference>Update_All_File_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FolderPath</name>
            <value>
                <elementReference>$Record.Dropbox_Folder__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
