force-app/main/default/flows/Acquisition_Form_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Acquisition_Form_Request_0_0</name>
        <label>Acquisition Form Request</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>AcquisitionFormController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Onboarding_Link_0</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>AssignedToID</name>
            <value>
                <elementReference>UserRecordData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AssignedToName</name>
            <value>
                <elementReference>UserRecordData.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DiscountCode</name>
            <value>
                <elementReference>AccountRecordData.Tax_Calc_Discount_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EntityType</name>
            <value>
                <elementReference>Entity_type2_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LeadSource</name>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MemberFirstName</name>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MemberLastName</name>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PrimaryEmailAddress</name>
            <value>
                <elementReference>Primary_Email_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Profession</name>
            <value>
                <elementReference>Job_Title_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SFDCaccountID</name>
            <value>
                <elementReference>AccountRecordData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SFDCcontactID</name>
            <value>
                <elementReference>ContactRecordData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SFDCPrimaryOppID</name>
            <value>
                <elementReference>OpportunityRecordData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>State_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaxCalcID</name>
            <value>
                <elementReference>AccountRecordData.Tax_Calculator_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OnboardingLink</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Validate_IntroCall_Task</name>
        <label>Validate IntroCall Task</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Process</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecordData.Acquisition_Form_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordData.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Intro Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordData.Intro_Call_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Onboarding Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordData.Intro_Call_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Data</targetReference>
            </connector>
            <label>Continue Process</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>entityTypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plan__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sourceList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourcePicklistChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FullNameInput</name>
        <dataType>String</dataType>
        <expression>{!First_Name_Input} + &apos; &apos; + {!Last_Name_Input}</expression>
    </formulas>
    <formulas>
        <name>ValidateOnboardingLink</name>
        <dataType>String</dataType>
        <expression>IF({!OnboardingLink} = &quot;SignupLink with this email already exists&quot;, &quot;&quot;, {!OnboardingLink})</expression>
    </formulas>
    <interviewLabel>Acquisition Form Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acquisition Form Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecordData.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>State_of_Business__c</queriedFields>
        <queriedFields>Original_Entity_Type__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Job_Title__c</queriedFields>
        <queriedFields>Tax_Calc_Discount_Code__c</queriedFields>
        <queriedFields>Tax_Calculator_ID__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordData.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Secondary_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Data</name>
        <label>Get Opportunity Data</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecordData.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>Signup_Link__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Data</name>
        <label>Get Task Data</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_IntroCall_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Intro_Call_Outcome__c</queriedFields>
        <queriedFields>Completed__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Profession__c</queriedFields>
        <queriedFields>Acquisition_Form_Completed__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Complete_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Data</name>
        <label>Get User Data</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acquisition_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecordData.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record_0</name>
        <label>Update Account Record</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Opportunity_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Entity_Type__c</field>
            <value>
                <elementReference>Entity_type2_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Business__c</field>
            <value>
                <elementReference>State_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_0</name>
        <label>Update Contact Record</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Update_Account_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Primary_Email_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>Secondary_Email_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_0</name>
        <label>Update Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecordData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Entity_type2_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signup_Link__c</field>
            <value>
                <elementReference>ValidateOnboardingLink</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecordData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acquisition_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserRecordData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>Job_Title_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Acquisition_Form</name>
        <label>Acquisition Form</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acquisition_Form_Request_0_0</targetReference>
        </connector>
        <fields>
            <name>Acquisition_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Acquisition_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Acquisition_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Acquisition_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecordData.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecordData.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Primary_Email_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecordData.Email</elementReference>
                    </defaultValue>
                    <fieldText>Primary Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountRecordData.State_of_Business__c</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Entity_type2_Input</name>
                    <choiceReferences>entityTypeList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OpportunityRecordData.Plan__c</elementReference>
                    </defaultValue>
                    <fieldText>Entity type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Source</name>
                    <choiceReferences>sourceList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TaskRecordData.Lead_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Job_Title_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TaskRecordData.Profession__c</elementReference>
                    </defaultValue>
                    <fieldText>Profession</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Closer_label</name>
                    <fieldText>&lt;p&gt;Closer&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Closer_Name</name>
                    <fieldText>&lt;p&gt;{!UserRecordData.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Acquisition_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TaxCalcIDLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;TaxCalc ID:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TaxCalcId</name>
                    <fieldText>&lt;p&gt;{!AccountRecordData.Tax_Calculator_ID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DiscountCodeLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Lead Discount Code:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DiscountCode</name>
                    <fieldText>&lt;p&gt;{!AccountRecordData.Tax_Calc_Discount_Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SubmissionDateLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Submission Date:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TaxCalcSubmissionDate</name>
                    <fieldText>&lt;p&gt;{!AccountRecordData.CreatedDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ContactIDLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Salesforce Contact ID:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SalesforceContactId</name>
                    <fieldText>&lt;p&gt;{!ContactRecordData.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AccountIDLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Salesforce Account ID:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SalesforceAccountId</name>
                    <fieldText>&lt;p&gt;{!AccountRecordData.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OpportunityIDLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Salesforce Opportunity ID:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SalesforceOpportunityId</name>
                    <fieldText>&lt;p&gt;{!OpportunityRecordData.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Secondary_Email_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecordData.Secondary_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Secondary Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Acquisition_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Acquisition_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboarding_Link_0</name>
        <label>Onboarding Link</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_Record_0</targetReference>
        </connector>
        <fields>
            <name>URLOnboarding_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Onboarding Link:&lt;/b&gt; &lt;a href=&quot;https://www.collective.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!OnboardingLink}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LeadRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>OnboardingLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>TaskRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UserRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varSelectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
