force-app/main/default/flows/Inbound_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Dropbox_Folder</name>
        <label>Set Dropbox Folder</label>
        <locationX>364</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_Record.Dropbox_Folder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dropbox_Path__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_First_Payment_Date</name>
        <label>Update First Payment Date</label>
        <locationX>176</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Opportunity.First_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Needs to check the event type for com.collective.member.payment.first</description>
        <name>Check_Event_Type</name>
        <label>Check Event Type</label>
        <locationX>168</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_First_Payment_Date_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>com_collective_member_payment_first</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Opportunity</targetReference>
            </connector>
            <label>Set First Payment Date Type</label>
        </rules>
        <rules>
            <name>Set_dropbox_folder_url</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>com_collective_member_folderupdated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Set dropbox folder url</label>
        </rules>
    </decisions>
    <interviewLabel>Inbound Event Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>358</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Dropbox_Folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Opportunity</name>
        <label>Get the Opportunity</label>
        <locationX>176</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_First_Payment_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>367</locationX>
        <locationY>770</locationY>
        <inputReference>Get_Account_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Opportunity</name>
        <label>Update the Opportunity</label>
        <locationX>176</locationX>
        <locationY>766</locationY>
        <inputReference>Get_the_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Event_Type</targetReference>
        </connector>
        <object>Inbound_Message__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
