force-app/main/default/flows/New_Sales_Flow_Contact_Opp_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>CollectiveStandardUserProfileId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e5x000001xcHw</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewBusinessRecTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126g0000001y5pAAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Acc_Check</name>
        <label>Acc Check</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Account_is_Already_Created</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eng_api_user_email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Business_Opp</targetReference>
            </connector>
            <label>ENG User: Found Related Account</label>
        </rules>
        <rules>
            <name>No_Acount_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Account_is_Already_Created</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intro_Call_Taker_populated</targetReference>
            </connector>
            <label>No Acount found</label>
        </rules>
        <rules>
            <name>Account_Found_Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>eng_api_user_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_If_Account_is_Already_Created</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Found_Create_Opp_Manual</targetReference>
            </connector>
            <label>Account Found - Standard User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Calendly_Date_set</name>
        <label>Calendly Date set?</label>
        <locationX>446</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Intro_Call_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Intro_Call_Taker_email_is_populated</name>
        <label>Check If Intro Call Taker email is populated</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Create_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Intro_Call_Taker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_with_Intro_Call_Taker</targetReference>
            </connector>
            <label>Found Intro Call Taker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Next_Steps_Same_Date</name>
        <label>Check_Next_Steps_Same_Date</label>
        <locationX>2822</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Intro_Call_on_Same_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Main_Opp.Next_Steps_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Opp_Update_Intro_Call</targetReference>
            </connector>
            <label>No Intro Call on Same Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intro_Call_Taker_populated</name>
        <label>Intro Call Taker populated?</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Create_account_Without_Call_taker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_callTakerValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Call Taker Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Biz_Task_Found</name>
        <label>New Biz Task Found</label>
        <locationX>2294</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_New_Biz_Intro_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_New_Biz_Intro_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Biz_Intro_Call</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Biz_Intro_Call</targetReference>
            </connector>
            <label>Found New Biz Intro Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated</label>
        <locationX>1898</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewContact</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 11 AND (5 OR 6 OR 7 OR 8 OR 9 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Paperform_Submission_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intro_Call_Taker_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CollectiveStandardUserProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eng_api_user_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Azam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Miranda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Santos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Self_checkout_member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>user_email</targetReference>
            </connector>
            <label>New Contact</label>
        </rules>
        <rules>
            <name>Contact_Created_from_BE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eng_api_user_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Self_checkout_member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Created from BE</label>
        </rules>
        <rules>
            <name>Reschedule_Call</name>
            <conditionLogic>(1 AND 3 AND 4 AND 5 AND 6 AND 7) OR (2 AND 3 AND 4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Calendly_Intro_Call_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SFDC_Automation_User</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Primary_Opportunity__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesOppRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Get_Contact</targetReference>
            </connector>
            <label>Reschedule Call</label>
        </rules>
        <rules>
            <name>Call_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SFDC_Automation_User</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Primary_Opportunity__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesOppRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Get_Contact</targetReference>
            </connector>
            <label>Call Cancelled</label>
        </rules>
        <rules>
            <name>Update_Check_New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Paperform_Submission_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intro_Call_Taker_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intro_Call_Taker_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calendly_Intro_Call_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNewBusinessOpp</targetReference>
            </connector>
            <label>Update -&gt; Check New Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>2558</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Opp_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewBusinessOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Intro_Call_Taker</targetReference>
            </connector>
            <label>New Business Opp found</label>
        </rules>
    </decisions>
    <description>This Flow is responsible to handle any Contact change made via Hubspot integration to Salesforce in order to have the New Sales Flow running. 
This Flow handles:
-When a new Contact is Created in hubspot with a Calendly Call scheduled;
-When the Contact is updated with a new scheduled date on Calendly;
-When the Call is Canceled.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!Today} + 30</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &apos; &apos; &amp; {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>Plan</name>
        <dataType>String</dataType>
        <expression>
IF(CONTAINS(LOWER({!Get_Account.Original_Entity_Type__c}) ,&apos;scorp-ccorp&apos;), &apos;Remain C-Corp SC&apos;,
IF(CONTAINS(LOWER({!Get_Account.Original_Entity_Type__c}),&apos;scorp&apos;), &apos;Remain SC&apos;,
IF(CONTAINS(LOWER({!Get_Account.Original_Entity_Type__c}), &apos;llc&apos;), &apos;LLC -&gt; SC&apos;,
IF(CONTAINS(LOWER({!Get_Account.Original_Entity_Type__c}), &apos;sp&apos;), &apos;SP -&gt; SC&apos;,

&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>PlanAcc2</name>
        <dataType>String</dataType>
        <expression>
IF(CONTAINS(LOWER({!Check_If_Account_is_Already_Created.Original_Entity_Type__c}) ,&apos;scorp-ccorp&apos;), &apos;Remain C-Corp SC&apos;,
IF(CONTAINS(LOWER({!Check_If_Account_is_Already_Created.Original_Entity_Type__c}),&apos;scorp&apos;), &apos;Remain SC&apos;,
IF(CONTAINS(LOWER({!Check_If_Account_is_Already_Created.Original_Entity_Type__c}), &apos;llc&apos;), &apos;LLC -&gt; SC&apos;,
IF(CONTAINS(LOWER({!Check_If_Account_is_Already_Created.Original_Entity_Type__c}), &apos;sp&apos;), &apos;SP -&gt; SC&apos;,

&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>Tax_Advisor_user</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!user_email.Id}) ,{!$User.Id},{!user_email.Id})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>New Sales Flow - Contact/Opp/Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>New Sales Flow - Contact/Opp/Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account_Found_Create_Opp_Manual</name>
        <label>Account Found - Create Opp -Manual</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>$Record.Account.Accounting_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>$Record.Account.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>$Record.Account.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>$Record.Account.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>PlanAcc2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Trying to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>$Record.Account.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>$Record.Account.Tax_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Intro_Call_Task</name>
        <label>Create Intro Call Task</label>
        <locationX>578</locationX>
        <locationY>2207</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Get_Opp.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <stringValue>0056g000003z0dk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <stringValue>0055x00000BUHS2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Contact_ID.Tc_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <stringValue>0055x00000CDPm9AAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <stringValue>0055x00000A9lM8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <stringValue>0056g000003z0hxAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Entity_Type_Other__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Entity_Type__c</field>
            <value>
                <elementReference>$Record.Tc_Incorporation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056g000003yiH3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contact_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit__c</field>
            <value>
                <elementReference>$Record.Profit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>Get_Contact_ID.Tc_Services_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Business__c</field>
            <value>
                <elementReference>Get_Contact_ID.Tc_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>user_email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Manager__c</field>
            <value>
                <stringValue>0056g000004uh6D</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_account_Without_Call_taker</name>
        <label>Create_account_Without_Call_taker</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <stringValue>0056g000003z0dk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <stringValue>0055x00000BUHS2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Contact_ID.Tc_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <stringValue>0055x00000CDPm9AAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <stringValue>0055x00000A9lM8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <stringValue>0056g000003z0hxAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Entity_Type_Other__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Entity_Type__c</field>
            <value>
                <elementReference>$Record.Tc_Incorporation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056g000003yiH3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit__c</field>
            <value>
                <elementReference>$Record.Profit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>Get_Contact_ID.Tc_Services_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Manager__c</field>
            <value>
                <stringValue>0056g000004uh6D</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Intro_Call_Task</name>
        <label>Create Intro Call Task</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>user_email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Get_Opp.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Intro_Call_Task_Updated_info</name>
        <label>Create Intro Call Task - Updated info</label>
        <locationX>2690</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Main_Opp_Update_Intro_Call.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Main_Opp_Update_Intro_Call.Primary_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Main_Opp_Update_Intro_Call.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Get_Main_Opp_Update_Intro_Call.Primary_Opportunity__r.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Main_Opp_Update_Intro_Call.Primary_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Biz_Intro_Call</name>
        <label>Create New Biz Intro Call</label>
        <locationX>2426</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetNewBusinessOpp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetNewBusinessOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Intro_Call_Taker.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>GetNewBusinessOpp.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetNewBusinessOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Business_Opp</name>
        <label>Create New Business Opp</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>$Record.Account.Accounting_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>$Record.Account.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>$Record.Account.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>$Record.Account.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>PlanAcc2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewBusinessRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>$Record.Account.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>$Record.Account.Tax_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>Get_Account.Accounting_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>Get_Account.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>Get_Account.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <elementReference>Get_Account.Member_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>Get_Account.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contact_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_Account.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>Get_Account.Tax_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom_Call_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_with_Intro_Call_Taker</name>
        <label>Create Opp with Intro Call Taker</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>RC_Get_Account.Accounting_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>Get_Account.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>Get_Account.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <elementReference>Get_Account.Member_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>Get_Account.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>user_email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_Account.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>Get_Account.Tax_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom_Call_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CC_Get_Contact</name>
        <label>CC Get Contact</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CC_Get_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CC_Get_Opp</name>
        <label>CC Get Opp</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CC_Update_Task_to_Call_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_If_Account_is_Already_Created</name>
        <label>Check If Account is Already Created</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acc_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_ID</name>
        <label>Get Contact ID</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Account_is_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intro_Call_Taker</name>
        <label>Get Intro Call Taker</label>
        <locationX>2294</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_New_Business_to_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intro_Call_Taker_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Opp</name>
        <label>Get Main Opp _</label>
        <locationX>2822</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Next_Steps_Same_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Primary_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Opp_Update_Intro_Call</name>
        <label>Get Main Opp - Update Intro Call</label>
        <locationX>2690</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Intro_Call_Task_Updated_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Biz_Intro_Call</name>
        <label>Get New Biz Intro Call</label>
        <locationX>2294</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Biz_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewBusinessOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calendly_Date_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As part of the Old Funnel, New Business Opp are still being created. Now we&apos;re transforming them into the Sales Opp.</description>
        <name>GetNewBusinessOpp</name>
        <label>GetNewBusinessOpp</label>
        <locationX>2558</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Primary_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewBusinessRecTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RC_Get_Account</name>
        <label>RC_Get_Account</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RC_Get_Contact</name>
        <label>RC Get Contact</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RC_Get_Opp</name>
        <label>RC Get Opp</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Old_Intro_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RC_Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RC_Get_User</name>
        <label>RC Get User</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Get_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RC_Get_Contact.Intro_Call_Taker_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>user_email</name>
        <label>user email</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intro_Call_Taker_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CC_Update_Task_to_Call_Cancelled</name>
        <label>CC Update Task to Call Cancelled</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Cancelled_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_Get_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro_Call_Outcome__c</field>
            <value>
                <stringValue>Call Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Old_Intro_Call</name>
        <label>Close Old Intro Call</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RC_Update_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RC_Get_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Call Rescheduled to other date.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro_Call_Outcome__c</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RC_Update_Opp</name>
        <label>RC Update Opp</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Call_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RC_Get_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Date__c</field>
            <value>
                <elementReference>RC_Get_Contact.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RC_Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Call Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>RC_Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update Opp stage to trying</label>
        <locationX>578</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Intro_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Trying to Schedule</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Contact</name>
        <label>Update Account on Contact</label>
        <locationX>446</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Check_If_Intro_Call_Taker_email_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Call_Cancelled</name>
        <label>Update Call Cancelled</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>Call__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancelled_Opp</name>
        <label>Update Cancelled Opp</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_Get_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Call Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Biz_Intro_Call</name>
        <label>Update New Biz Intro Call</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Biz_Intro_Call.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Intro_Call_Taker.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Business_to_Sales</name>
        <label>Update New Business to Sales</label>
        <locationX>2294</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_New_Biz_Intro_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewBusinessOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Calendly_Intro_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Intro_Call_Taker.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Updated</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eng_api_user_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eng+api@collective.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesOppRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0125x000000ASrzAAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_Automation_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hamad@collective.com</stringValue>
        </value>
    </variables>
</Flow>
