force-app/main/default/flows/Opp_HouseKeeping_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>270</locationX>
        <locationY>47</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>CWMsg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a025x00000mDpyJAAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Slack_Msg_Opp</name>
        <label>Slack Msg Opp</label>
        <locationX>107</locationX>
        <locationY>57</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a025x00000mDpLJAA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>SalesRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125x000000ASrzAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Opp_Stage</name>
        <label>Opp Stage</label>
        <locationX>375</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage</name>
            <conditionLogic>(1 AND 5 AND 6 AND  (2 OR 3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>eng_api_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Msg_Opp</targetReference>
            </connector>
            <label>Stage</label>
        </rules>
        <rules>
            <name>Closed_Won_Msg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won</targetReference>
            </connector>
            <label>Closed Won Msg</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CWMsg</name>
        <dataType>String</dataType>
        <expression>&quot;Closed Won Opportunity !!!&quot; + BR() &amp;
&quot;Closed By: &quot; + {!$Record.Owner.FirstName} +&quot; &quot; + {!$Record.Owner.LastName} + BR() &amp;
&quot;Close Date: &quot;+ TEXT({!$Record.First_Payment_Date__c}) + BR() &amp;
&quot;Lead Source: &quot; + TEXT({!$Record.LeadSource}) + BR() &amp;
&quot;State of Business: &quot; + {!$Record.Account.State_of_Business__c} + BR() &amp;
&quot;Description: &quot; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot; is moved from &quot; + 
TEXT({!$Record__Prior.StageName}) + &quot; to &quot; + TEXT({!$Record.StageName}) + BR() &amp;
&quot;Sub Stage: &quot;  + TEXT({!$Record.Sub_Stage__c}) + BR() &amp;
&quot;Sub Stage Reason: &quot; + 
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Considering self-employment&quot;),&quot;Considering self-employment - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Looking for next project&quot;),&quot;Looking for next project - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Wants to Remain - LLC/Sole-P/1099&quot;),&quot;Wants to Remain - LLC/Sole-P/1099 - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Wants to Use Local CPA&quot;),&quot;Wants to Use Local CPA - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Using other FinTech Services&quot;),&quot;Using other FinTech Services - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Price Too High&quot;),&quot;Price Too High - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Unsupported Entity - Inc./S-Corp&quot;),&quot;Unsupported Entity - Inc./S-Corp - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Unsupported Entity - MM LLC&quot;),&quot;Unsupported Entity - MM LLC - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Job requires PLLC&quot;),&quot;Job requires PLLC - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Unsupported State&quot;),&quot;Unsupported State - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Low Self-Employed Profit&quot;),&quot;Low Self-Employed Profit - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Unfiled Tax Returns&quot;),&quot;Unfiled Tax Returns - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Unsupported Profession&quot;),&quot;Unsupported Profession - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Sales Tax&quot;),&quot;Sales Tax - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Non-Citizen&quot;),&quot;Non-Citizen - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Employees&quot;),&quot;Employees - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Foreign Assets &gt;$50k&quot;),&quot;Foreign Assets &gt;$50k - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Inventory&quot;),&quot;Inventory - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Passive Income&quot;),&quot;Passive Income - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Took W-2 Job&quot;),&quot;Took W-2 Job - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Crypto&quot;),&quot;Crypto - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Accrual Accounting Needed&quot;),&quot;Accrual Accounting Needed - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Multiple Businesses&quot;),&quot;Multiple Businesses - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Dislikes all-inclusive&quot;),&quot;Dislikes all-inclusive - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Stopped Responding&quot;),&quot;Stopped Responding - &quot;,null)&amp;
IF ( INCLUDES ( {!$Record.Sub_Stage_Reason__c} , &quot;Bad Fit&quot;),&quot;Bad Fit - &quot;,null)  + BR() &amp;
&quot;Lead Source: &quot; + TEXT({!$Record.LeadSource}) + BR() &amp;
&quot;Description: &quot; + {!$Record.Description}</expression>
    </formulas>
    <interviewLabel>Opp HouseKeeping Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp HouseKeeping Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>SlackMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt; &quot;is moved from&quot; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;amp; BR() &amp;amp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record__Prior.StageName} &quot;to&quot; {!$Record.StageName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;amp; BR() &amp;amp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Sub_Stage__c} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;amp; BR() &amp;amp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Sub_Stage_Reason__c} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;amp; BR() &amp;amp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.LeadSource} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;amp; BR() &amp;amp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Description}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>eng_api_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eng+api@collective.com</stringValue>
        </value>
    </variables>
</Flow>
