force-app/main/default/flows/Round_Robin_Business_Solution_Advisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>New_Business_legacy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business (legacy)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>RR_Found</name>
        <label>RR Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RR_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes RR found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW_Formula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>User</name>
        <dataType>String</dataType>
        <expression>&apos;0055x00000A9sTcAAJ&apos;</expression>
    </formulas>
    <interviewLabel>Round Robin - Business Solution Advisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Deprecated] Round Robin - Business Solution Advisor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_BSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RR</name>
        <label>Get RR</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Solution Advisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin__c</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_BSA</name>
        <label>Update Account BSA</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Oppty_BSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_RR.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_BSA</name>
        <label>Update Oppty BSA</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_RR</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_RR.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RR</name>
        <label>Update RR</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Round_Robin__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RR</targetReference>
        </connector>
        <filterFormula>OR(
	AND(
		ISBLANK({!$Record.Business_Solution_Advisor__c}),
		NOT(ISNULL({!$Record.First_Payment_Date__c})),
		ISCHANGED({!$Record.First_Payment_Date__c}),
		{!$Record.RecordTypeId} = &apos;0125x000000ASrzAAG&apos;
	),
	AND(
	ISPICKVAL({!$Record.StageName} , &apos;Confirm Payment&apos;),
	ISBLANK({!$Record.Business_Solution_Advisor__c}),
	{!$Record.RecordTypeId} = &apos;0125x000000ASrzAAG&apos;
	)
	)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
