force-app/main/default/flows/Sales_Confirm_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Record_To_Update</name>
        <label>Assign Record To Update</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>tasks_to_update_flow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_tasks</name>
        <label>Close tasks</label>
        <locationX>1810</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_CLosed_Lost_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_CLosed_Lost_Tasks.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_CLosed_Lost_Tasks.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_CLosed_Lost_Tasks.Intro_Call_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Sub_Stage__c} - {!$Record.Sub_Stage_Reason__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tasks_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tasks_to_Completed</name>
        <label>Set Tasks to Completed</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_Open_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Open_Tasks.Intro_Call_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Onboarding Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Open_Tasks.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tasks_to_update</name>
        <label>Tasks_to_update</label>
        <locationX>1810</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>tasks_to_update_flow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_CLosed_Lost_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CLosed_Lost_Tasks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EngineeringUser</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>EngUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055x00000Ahhh7AAB</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1216</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_OR_Confirm_Payment</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Remaining_Open_Tasks</targetReference>
            </connector>
            <label>Closed Won OR Confirm Payment</label>
        </rules>
        <rules>
            <name>First_Payment_Date_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Payment_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Payment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Closed_Won</targetReference>
            </connector>
            <label>First Payment Date populated</label>
        </rules>
        <rules>
            <name>Post_Payment_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kickoff_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostPaymentRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Post_Payment_to_Formation</targetReference>
            </connector>
            <label>Post Payment Completed</label>
        </rules>
        <rules>
            <name>Closed_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTasks_ClosedWonOrLost</targetReference>
            </connector>
            <label>Closed Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Open_Tasks</name>
        <label>Find Open Tasks</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FOUND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Open_Tasks</targetReference>
            </connector>
            <label>FOUND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_open_tasks</name>
        <label>Found_open_tasks</label>
        <locationX>1854</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTasks_ClosedWonOrLost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_CLosed_Lost_Tasks</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_to_Follow</name>
        <label>Plan to Follow</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP -&gt; SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Post_Payment_Opportunity</targetReference>
            </connector>
            <label>Formation</label>
        </rules>
        <rules>
            <name>Takeover</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC -&gt; SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remain SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remain C-Corp SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Takeover_Opportunity</targetReference>
            </connector>
            <label>Takeover</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>daysahead20</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +20</expression>
    </formulas>
    <formulas>
        <name>Formation_Task_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Verify Formation Details | &quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Primary_Contact__c} + &quot; | &quot; + {!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <description>&quot;Receive Entity Information | &quot; &amp; {!$Record.Account.Name}</description>
        <name>Takeover_Task_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Receive Entity Information | &quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>Today_date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Sales - Confirm Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales - Confirm Payment and Closed</label>
    <loops>
        <name>Loop_Open_Tasks</name>
        <label>Loop Open Tasks</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Remaining_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tasks_to_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks_to_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_CLosed_Lost_Tasks</name>
        <label>Loop Over CLosed Lost Tasks</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <collectionReference>GetTasks_ClosedWonOrLost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CLosed_Lost_Tasks_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Formation_Task</name>
        <label>Create Formation Task</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Business_Solution_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>Formation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formation_Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Post_Payment_Opportunity</name>
        <label>Create Post-Payment Opportunity</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_User_RR_For</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>$Record.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>daysahead20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_at__c</field>
            <value>
                <elementReference>$Record.Closed_Won_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirm_Payment_At__c</field>
            <value>
                <elementReference>$Record.Confirm_Payment_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Payment_Date__c</field>
            <value>
                <elementReference>$Record.First_Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro_Call_Completed_Date__c</field>
            <value>
                <elementReference>$Record.Intro_Call_Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff_Call_Date__c</field>
            <value>
                <elementReference>$Record.Kickoff_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff_Stage__c</field>
            <value>
                <elementReference>$Record.Kickoff_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>$Record.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <elementReference>$Record.Member_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>$Record.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EngUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PostPaymentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approve Transition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>$Record.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>$Record.Tax_Team_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Takeover_Opportunity</name>
        <label>Create Takeover Opportunity</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_User_RR_TO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>$Record.Accounting_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>$Record.Accounting_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>daysahead20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_at__c</field>
            <value>
                <elementReference>$Record.Closed_Won_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirm_Payment_At__c</field>
            <value>
                <elementReference>$Record.Confirm_Payment_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Payment_Date__c</field>
            <value>
                <elementReference>$Record.First_Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro_Call_Completed_Date__c</field>
            <value>
                <elementReference>$Record.Intro_Call_Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff_Call_Date__c</field>
            <value>
                <elementReference>$Record.Kickoff_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff_Stage__c</field>
            <value>
                <elementReference>$Record.Kickoff_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>$Record.MRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <elementReference>$Record.Member_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>$Record.Member_Ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EngUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TakeOverRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Receive Entity Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>$Record.Tax_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>$Record.Tax_Team_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Takeover_Task</name>
        <label>Create Takeover Task</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Timestamp_RR_TO</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Create_Takeover_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_RR_TO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>Takeover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Takeover_Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_Takeover_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Remaining_Open_Tasks</name>
        <label>Get Remaining Open Tasks</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Take Intro Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_RR_For</name>
        <label>Get User RR For</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PP_Opp_for_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_RR_TO</name>
        <label>Get User RR TO</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TO_Opp_for_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTasks_ClosedWonOrLost</name>
        <label>GetTasks_ClosedWonOrLost</label>
        <locationX>1854</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_open_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CLosed_Lost_Tasks_1</name>
        <label>Update CLosed Lost Tasks_1</label>
        <locationX>1722</locationX>
        <locationY>1151</locationY>
        <inputReference>tasks_to_update_flow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Find_Open_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Intro_Call_Completed_Date__c</field>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Payment_to_Formation</name>
        <label>Update Post Payment to Formation</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_Formation_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormationRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type_Name__c</field>
            <value>
                <stringValue>Formation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Verify Formation Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Opp_for_RR</name>
        <label>Update PP Opp for RR</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_TimeStamp_RR_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Post_Payment_Opportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR_For.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Opp_on_Account</name>
        <label>Update Primary Opp on Account</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR_TO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Opportunity__c</field>
            <value>
                <elementReference>Create_Takeover_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Opp_on_Account_Formation</name>
        <label>Update Primary Opp on Account_Formation</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR_For.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Opportunity__c</field>
            <value>
                <elementReference>Create_Post_Payment_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_to_Completed</name>
        <label>Update Tasks to Completed</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>tasks_to_update_flow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TimeStamp_RR_For</name>
        <label>Update TimeStamp RR For</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Primary_Opp_on_Account_Formation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_RR_For.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timestamp_RR_TO</name>
        <label>Update Timestamp RR TO</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Primary_Opp_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_RR_TO.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Closed_Won</name>
        <label>Update to Closed Won</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Plan_to_Follow</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TO_Opp_for_RR</name>
        <label>Update TO Opp for RR</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_Takeover_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Takeover_Opportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR_TO.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1090</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Payment_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Kickoff_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FormationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0126g0000001y5uAAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>main_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PostPaymentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0125x000000ASx9AAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0125x000000ASrzAAG</stringValue>
        </value>
    </variables>
    <variables>
        <description>stores Takeover RecordType ID</description>
        <name>TakeOverRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0126g000000228rAAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasks_to_update_flow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
