force-app/main/default/flows/Self_Checkout_Opp_and_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>DeepaliId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055x00000BUHS2AAP</stringValue>
        </value>
    </constants>
    <constants>
        <name>DrewId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0056g000004uh6DAAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>EngUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055x00000Ahhh7AAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>JacobId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0056g000003z0hxAAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>KarmenId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0055x00000BUByQAAX</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostPaymentId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125x000000ASx9AAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrentissId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0056g000003z0dkAAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>TakeoverId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126g000000228rAAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Validate_self_checkout_member</name>
        <label>Validate self checkout member</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_a_self_checkout_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.Self_checkout_member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MRM_and_Tax_Team</targetReference>
            </connector>
            <label>Is it a self checkout member</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>StageName</name>
        <dataType>String</dataType>
        <expression>IF(  {!$Record.RecordTypeId} = {!PostPaymentId}, &apos;Approve Transition&apos; , &apos;Receive Entity Information&apos;)</expression>
    </formulas>
    <formulas>
        <name>TakeoverTaskName</name>
        <dataType>String</dataType>
        <expression>&quot;Receive Entity Information | &quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>Self Checkout - Opp and Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Self Checkout - Opp and Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MRM_and_Tax_Team</name>
        <label>Get MRM and Tax Team</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin__c</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_RR</name>
        <label>Get User RR</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Data</name>
        <label>Update Account Data</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_TimeStamp_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.Tax_Preparer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Manager__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.Tax_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Assigned_RR</name>
        <label>Update Last Assigned RR</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Data</name>
        <label>Update Opp Data</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Account_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>Accounting_Advisor__c</field>
            <value>
                <elementReference>PrentissId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Manager__c</field>
            <value>
                <elementReference>DeepaliId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Solution_Advisor__c</field>
            <value>
                <elementReference>Get_User_RR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_at__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_at__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRM__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Admin__c</field>
            <value>
                <elementReference>JacobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Ops__c</field>
            <value>
                <elementReference>JacobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EngUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Checkout_Member__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approve Transition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.Tax_Preparer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>Get_MRM_and_Tax_Team.Tax_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TimeStamp_RR</name>
        <label>Update TimeStamp RR</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Last_Assigned_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_RR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_self_checkout_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125x000000ASx9AAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
