force-app/main/default/flows/Self_Checkout_MRM_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Self Checkout - MRM Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Self Checkout - MRM Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Updated_MRM_Team</name>
        <label>Get Updated MRM Team</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tax_Pods_On_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MRM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MRM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Tax_Pods</name>
        <label>Update Account with Tax Pods</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Last_Assigned_on_RoundRobin</targetReference>
        </connector>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_Updated_MRM_Team.Tax_Preparer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Manager__c</field>
            <value>
                <elementReference>Get_Updated_MRM_Team.Tax_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Assigned_on_RoundRobin</name>
        <label>Update Last Assigned on RoundRobin</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_MRM_Team.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Pods_On_Opp</name>
        <label>Update Tax Pods On Opp</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Account_with_Tax_Pods</targetReference>
        </connector>
        <inputAssignments>
            <field>Tax_Advisor__c</field>
            <value>
                <elementReference>Get_Updated_MRM_Team.Tax_Preparer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Team_Manager__c</field>
            <value>
                <elementReference>Get_Updated_MRM_Team.Tax_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_MRM_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MRM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
