force-app/main/default/flows/Task_Slack_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>First_Reconcile_Notification</name>
        <label>First Reconcile Notification</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>First_Reconcile_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a025x00000mEA51AAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Validate_which_task</name>
        <label>Validate which task</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Reconcile_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Task_Subject_First_Reconcile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Opportunity</targetReference>
            </connector>
            <label>First Reconcile Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>First_Reconcile_Message</name>
        <dataType>String</dataType>
        <expression>{!$Record.Subject} + &quot; Task Completed!&quot; + BR() &amp;
&quot;Completed By: &quot; +  {!$Record.Owner:User.FirstName} + &quot; &quot; + {!$Record.Owner:User.LastName} + BR() &amp;
&quot;Accounting Advisor: &quot;+ {!Related_Opportunity.Accounting_Advisor__r.FirstName}  + &quot; &quot; + {!Related_Opportunity.Accounting_Advisor__r.LastName}+ BR() &amp;
&quot;Completed Date: &quot;+ TEXT({!$Record.Complete_Date__c}) + BR() &amp;
&quot;Due Date: &quot; + TEXT({!$Record.ActivityDate}) + BR() &amp;
&quot;Status: &quot; + TEXT({!$Record.Status}) + BR() &amp;
&quot;Priority: &quot; + TEXT({!$Record.Priority} )</expression>
    </formulas>
    <interviewLabel>Task - Slack Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Slack Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Related_Opportunity</name>
        <label>Related Opportunity</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Reconcile_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_which_task</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task_Subject_First_Reconcile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>First Reconcile</stringValue>
        </value>
    </variables>
</Flow>
